/* index */
body{
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    background-color: #11071F;
}
.nombre{
/*     border: 1px solid black; */
    padding-left: 2rem;
    text-shadow: 2px 2px 10px #fdfdfd6e;
}
.menu ul{
    list-style-type: none;
    font-size: 20px;
    box-shadow: 1px 1px 20px #3d2a57;
    border-radius: 4rem;
    display: flex;
    gap: 27px;
    padding: 15px 40px;
    background-color: #1a0b2e;
}
.menu a{
    color: aliceblue;
}
header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
/*     border: 1px solid rgb(0, 0, 0); */
    align-items: center;
}
a{
    text-decoration: none;
}
/* sobre mi */
main{
    margin: 2rem 0;
    font-size: 15px;
}
.contenedor{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  max-width: 500px;
  margin-left: 400px;
}
.sobre-mi{
    border: 1px solid;
    display: flex;
    gap: 2rem;
}
.sobre-mi p{
    line-height: 0;
}
.sobre-mi h2{
    line-height: 21px;
}
#perfil img{
    box-shadow: 1px 1px 10px #ffffff;
}
.proyectos{
    border: 1px solid;
}
/* mascotas */
.encabezado-mascotas{
    text-align: center;
}
.contenido-mascotas img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 0 auto;
}
.contenido-mascotas{
    display: flex;
    flex-direction: row;
}