/* index */
body{
    color: #ffffff;
    background-color: #11071F;
}
.nombre{
/*     border: 1px solid black; */
    padding-left: 2rem;
    text-shadow: 2px 2px 10px #fdfdfd6e;
}
.menu ul{
    list-style-type: none;
    font-size: 20px;
    box-shadow: 1px 1px 20px #3d2a57;
    border-radius: 4rem;
    display: flex;
    gap: 27px;
    padding: 15px 40px;
    background-color: #1a0b2e;
}
.menu a{
    color: aliceblue;
}
header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
/*     border: 1px solid rgb(0, 0, 0); */
    align-items: center;
    font-family: "Nunito", sans-serif;
}
a{
    text-decoration: none;
}
/* sobre mi */
main{
    margin: 2rem;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    font-family: "Preahvihear", sans-serif;
}
.sobre-mi{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.sobre-mi p{
    line-height: 25px;
}
#perfil img{
    filter: drop-shadow(0 0 30px #ffffff88);
}
.proyectos ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    padding-left: 0;
}
.proyectos li{
    border-radius: 10px;
    background-color: #4F228D;
    list-style: none;
    padding: 1rem;
    min-width: 20rem;
    min-height: 5rem;
    background: linear-gradient(to bottom right, #2C1250, #693B93);
    border-top: 2px solid #4F228D;
}
.proyectos a{
    color: #ffffff;
}
.contacto{
    background-color: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
    backdrop-filter: blur(10px);
}
/* mascotas */
.encabezado-mascotas{
    text-align: center;
}
.contenido-mascotas img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 0 auto;
}
.contenido-mascotas{
    display: flex;
    flex-direction: row;
}