/* index */
body{
    font-family: "Nunito", sans-serif;
/*     background-color: #2B0B3A;
    color: rgb(255, 255, 255); */
}
.nombre{
    border: 1px solid black;
    padding-left: 2rem;
}
.menu ul{
    list-style-type: none;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 4rem;
    display: flex;
    gap: 27px;
    padding: 15px 40px;
}
header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    border: 1px solid black;
    align-items: center;
}
a{
    text-decoration: none;
}
/* sobre mi */
main{
    margin: 2rem 0;
    font-size: 20px;
}
.contenedor{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  max-width: 500px;
  margin-left: 400px;
}
.sobre-mi{
    border: 1px solid;
}
.proyectos{
    border: 1px solid;
}
/* mascotas */
.encabezado-mascotas{
    text-align: center;
}
.contenido-mascotas img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 0 auto;
}
.contenido-mascotas{
    display: flex;
    flex-direction: row;
}